
.row
  .large-12.columns.sb-dark.white-text
    - @calendar_events.each do |event|
      %h2
        = event
      %h4
        = event.title
      %p
        = event.location
.row
  .large-8.columns
    = @calendar.cal.events
