/** {
  outline: 1px solid blue;
}
*/
body#background {
  background:url(image_path("brick4.jpg")) repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-text {
  font-size: 1.7em;
}

.sb-dark {
  background-image: url(image-path("sb-dark-shapes.png")) !important;
}

.bugger {
  outling: 1px solid red;
}

.bold {
  font-weight: bold;
}


.logo-image {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  height: 2.5em;
}


.white-text {
  color: white;
}

.gray-text {
  color: gray;
}

.pad-1 {
  padding: 1%;
}

.margin-1 {
  margin: 1%;
}

.bg-card {
  background-image: url(image-path("sb-beige.png"));
}

.bg-gray {
  background-color: gray;
}

.max-200 {
  max-height: 200px;
  max-width: 200px;
}

.max-50 {
  max-height: 50px;
  max-width: 50px;
}

.max-100 {
  max-height: 100px;
  max-width: 100px;
}

.height-300px {
  height: 300px;
}

.height-50px {
  height: 50px;
}

.height-60px {
  height: 60px;
}

.height-30px {
  height: 30px;
}


.text-half {
  font-size: .5em;
}

.date-text {
  /*margin-left: .5rem;*/
  /*margin-bottom: .6rem;*/
  font-size: 1.2em;
  text-align: center;

}


.location-text {
  /*margin-left: .5rem;*/
  margin-bottom:  .6rem;
  font-size: .7em;
  text-align: right;
}

.organizer-text {
  font-size: 1em;
  margin-bottom:  .01rem;
  text-align: right;
}

.border-left-white {
  border-left: 1px solid white;
}

.border-right-white {
  border-right: 1px solid white;
}

.desc-text {
  padding-top: 5%;
  font-size: 1em;
}

.title-text {
  font-size: 1em;
}

.center {
  text-align: center;
}



.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.absolute-bottom {
  position: absolute;
  bottom:   0px;
}

.relative-div {
  position:relative;
}

.bg-maroon {
  background-color: maroon;
}

.bg-teal {
  background-color: #19ABB5;
}

.teal-text {
  color: #19ABB5;
}

.black-text {
  color: black;
}

.no-pad p{
  padding: 0;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

.no-margin {
  margin: 0;
}

.mar-right-5P {
  /*padding-right: 5%;*/
}

.pad-top-5px {
  padding-top: 5px;
}

.pad-top-10px {
  padding-top: 7%;
}

.pad-left-5P {
  padding-left: 5%;
}

.pad-top-5P {
  padding-top: 5%;
}

.pad-top-10P {
  padding-top: 10%;
}

.pad-top-14P {
  padding-top: 14%;
}

.pad-left-30px {
  padding-left: 30px;
}

.pad-left-35px {
  padding-left: 35px;
}

.pad-right-30px {
  padding-right: 30px;
}

.pad-right-50px {
  padding-right: 20%;
}

.rounded-corners {
  border-radius: 10% 5% 0% 10%;
}

.rounded-bottom {
  border-radius: 0% 37px 37px 0%
}

.square-50px {
  height: 50px;
  width: 50px;
}

.square-60px {
  height: 60px;
  width: 60px;
}

.circle-60px {
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  width: 60px;
}




/*
.vertical-center {
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
*/



