/** {
  outline: 1px solid blue;
}
*/


.sb-dark {
  background-image: url(image-path("sb-dark-shapes.png")) !important;
}

.bugger {
  outling: 1px solid red;
}

.bold {
  font-weight: bold;
}


.image {
  padding-top: 3%;
  padding-left: 5%;
  height: 2.4em;
}


.white-text {
  color: white;
}

.gray-text {
  color: gray;
}

.pad-1 {
  padding: 1%;
}

.margin-1 {
  margin: 1%;
}

.bg-card {
  background-image: url(image-path("sb-beige.png"));
}

.max-200 {
  max-height: 200px;
  max-width: 200px;
}

.max-50 {
  max-height: 50px;
  max-width: 50px;
}

.max-100 {
  max-height: 100px;
  max-width: 100px;
}

.height-200px {
  height: 300px;
}

.height-50px {
  height: 50px;
}

.height-60px {
  height: 60px;
}

.height-30px {
  height: 30px;
}

.text-half {
  font-size: .5em;
}

.date-text {
  padding-left: 10px;
  margin-bottom: .7rem;
  font-size: .9em;
  text-align: center;
}

.desc-text {
  font-size: 1em;
}

.organizer-text {
  font-size: .1em;
  text-align: center;
}

.center {
  text-align: center;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.absolute-bottom {
  position: absolute;
  right:    0px;
  bottom:   0px;
}

.relative-div {
  position:relative;
}

.bg-dark {
  background-color: maroon;
}

.bg-teal {
  background-color: teal;
}

.no-pad p{
  padding: 0;
}

.no-margin {
  margin: 0;
}





