.image {
  padding-top: 3%;
  padding-left: 5%;
  height: 2.4em;
}


.white-text {
  color: white;
}

.pad-1 {
  padding: 1%;
}

.margin-1 {
  margin: 1%;
}

.bg-card {
  background-image: url(image-path("sb-beige.png"))
}
