%nav.sb-dark.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        = image_tag 'dbc-logo-new.png', class: "image"
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      .white-text.nav-text.pad-right-10px
        #date
    / Left Nav Section
    %ul.center
      .white-text.nav-text
        #clock.pad-right-10px




