%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        = image_tag 'dbc-logo-new.png', class: "image"
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        %a{:href => "#"} Right Button Dropdown
    / Left Nav Section
    %ul.left
      %li.white-text
        = Date.today
        = Time.zone.now.to_date
= react_component(<Clock />)


